 .head{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
}
.head-main{
	width: 1200px;
	height: 100%;
/* 	background:#f7f7f7; */
	margin: 0 auto;
}
.head-right{
	width: 468px;
	height: 100%;
	background: #f7f7f7;
	float: right;
	
}
.welcome{
	width: 144px;
	height: 100%;
	background:#f7f7f7;
	line-height: 32px;
	float: left;
	font-size: 12px;
	color: #808080;
	margin-right: 20px;
}
.loginbox{
	width: 99px;
	height: 100%;
	background:#f7f7f7;
	float: left;
	line-height: 32px;
	color: #808080;
}
.loginbox{
	color: #808080;
}
.denlu{
	margin-right: 10px;
	color: #808080;
}
.zhuce{
	color: #808080;
}

.shutiao{
	margin-right: 10px;
}
.dingdan{
	width: 50px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	text-align: center;
	line-height: 32px;
	color: #808080;
	margin-left:14px;
}
.dingdan:hover{
	color: #a10000;
}
.wangzhangonggao{
	width: 72px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	line-height: 32px;
	margin-left: 16px;
}
.wangzhangonggao img{
	width: 16px;
	height: 16px;
	margin-top: 8px;
	display: block;
	float: left;
}
.wangzhangonggaozi{
	font-size: 12px;
	float: right;
	line-height: 32px;
	color: #808080;
	/* margin-left: 9px; */
	text-align: center;
}
.wangzhangonggaozi:hover{
	color: #a10000;
}
.tubiao{
	width: 40px;
	height: 32px;
	background: #f7f7f7;
	float: left;
	margin-left: 13px;
}
.tubiao img{
	margin-top: 7px;
}
.tubiao img{
	margin-right: 2px;
	float: left;
	margin-top: 7px;
}
.sousuo{
	width: 1200px;
	height: 166px;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
}
.sousuotiao{
	width: 1200px;
	height: 29px;
	background: #ffffff;
	margin-top: 28px;
}
.sousuoright{
	width: 440px;
	height: 29px;
	background: #ffffff;
	float: right;
}
.sousuozuo{
	width: 309px;
	height: 29px;
	background: red;
	margin-right: 22px;
	float: left;
	
}

.sousuyou{
	width: 107px;
	height: 29px;
	background: #b71a21;
	float: left;
	border: 1px solid #c1383e;  
}

.shuru{
	width: 261px;
	height: 29px;
	background: white;
	border: 1px solid #ccc;
	line-height: 29px;
	padding-left: 5px;
	box-sizing: border-box;
	float: left;
}
.sousuobutton{
	width: 48px;
	height: 29px;
	background:#b81c20;
	border: 1px solid #c9caca;
	line-height: 29px;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	float: right;
	border-left: 0px;
	cursor: pointer;
}
.sousuyou div{
	width: 20px;
	height: 16px;
	margin-top: 7px;
	margin-left: 6px;
	display: block;
	float: left;
	background: url('../img/gouwuche.png') no-repeat center center;
}
.sousuyou:hover {
	background:#ffffff /* url('../img/gouwuchehong.png') no-repeat -20px -16px; */
}
.sousuyou:hover div{
	background: url('../img/gouwuchehong.png') no-repeat center center;
}

.sousuyou span {
	font-size: 12px;
	margin-top: 2px;
	margin-left: 4px;
	float: left;
	line-height: 29px;
	color: #ffffff;
	text-align: center;
}
.sousuyou:hover span{
	color: #b71b1f;
}
.remensousuo{
	width: 1200px;
	height: 12px;
	background:#ffffff;
	margin: 0 auto;
	margin-top: 8px;
	float: left;
}
.daohangbox{
	width: 1200px;
	height: 44px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 32px;

}
.logo{
	width: 184px;
	height: 44px;
	background: #ffffff;
	float: left;
	margin-right: 15px;
}
.daohangtiao{
	width: 989px;
	height: 16px;
/* 	background: orange; */
	float: left;
	margin-top: 28px;
	color: #808080;
}
.daohangtiao a:hover{
     color: red;
}
.daohangtiao a{
	display: block;
    width: 98px;
    height: 16px;
   /*  background:  */
	border-right: 1px solid #888888;
	float: left;
	text-align: center;
	color: #808080;
}
.daohangtiao .jiaju{
	border-right: 0px;
}
.daohangtiao .shouye:hover;{
	color: #a10000;
}
.banner{
	width: 1200px;
	height: 535px;
/* 	background: pink; */
	margin: 0 auto;
	position: relative;
}
.banner img{
	display: block;
}
.swiper-slide{
	width: 1200px;
	height: 535px;
/* 	background: green; */
	margin:0 auto;
	position: relative;
}
.bannerzuo{
	width: 18px;
	height: 53px;
	position: absolute;
	left: 13px;
	top: 0; 
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background: url('../img/focus_lr0918.png')  no-repeat -3px -5px;
}
.bannerzuo:hover{
	background: url('../img/focus_lr0918.png')  no-repeat -3px -66px;
}
.banneryou{
	width: 18px;
	height: 53px;
	position: absolute;
	right: 13px;
	top: 0; 
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background: url('../img/focus_lr0918.png')  no-repeat -60px -5px;
} 
.banneryou:hover{
	background: url('../img/focus_lr0918.png')  no-repeat -60px -66px;
}
.bannerxia{
	width: 1200px;
	height: 130px;
	background:#ffffff;
	margin: 0 auto;
	font-size: 17px;
	text-align: center;
	line-height: 130px;
	color: #9a9a9a;
}
.datu{
	width: 1200px;
	height: 4785px;
	background: #ffffff;
	margin: 0 auto;
}
.tu1{
	width: 390px;
	height: 600px;
	background: #ffffff;
	float: left;
	margin-bottom: 0px;
	margin-right: 15px;	
}
.tu2{
	margin-right: 0px;
}
.hanguogou{
	width: 1200px;
	height: 130px;
	background: #ffffff;
	margin: 0 auto;
	font-size: 17px;
	text-align: center;
	line-height: 130px;
	color: #9a9a9a;
}
.chaozhi{
	width: 1200px;
	height: 509px;
/* 	background: pink; */
	margin: 0 auto;
}
.zuo{
	width: 590px;
	height: 509px;
/* 	background: green; */
	float: left;
	margin-right: 17px;
}
.zuo .tu1{
	display: block;
	width: 590px;
	height: 440px;
}
.zuo .tu1 img{
	width: 100%;
	height:100%; 
}
.zuoxia{
	width: 590px;
	height: 69px;
/* 	background: orange; */
	border: 1px solid #e8e7ec;
	float: left;
	box-sizing: border-box;
}
.zuoxia{
	border-top: 0px;
}
.zuoxia span{
	font-size: 13px;
	color: #333333;
	margin-left: 15px;
	text-align: center;
	line-height: 69px;
}
.zuoxia .jiage{
	font-size: 13px;
	color: #b50000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;
}
.zhong{
	width: 290px;
	height: 509px;
/* 	background: green; */
	float: left;
	margin-right: 17px;


}
.zhong .zhongshang{
	display: block;
	width: 290px;
	height: 180px;
/* 	background: red; */
}
.zhong .zhongshang img{
	width: 100%;
	height: 100%;

}
.zhongshangzi{
	width: 290px;
	height: 69px;
/* 	background: orange; */
	border:1px solid #e8e7ec;
	box-sizing: border-box;
}
.zhongshangzi{
	border-top: 0px;
}
.zhongshangzi span{
	font-size: 11px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;

}
.zhongshangzi .jiage2{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;

}
.zhong .zhongxia{
	display: block;
	width: 290px;
	height: 191px;
/* 	background: red;
 */
}
.zhong .zhongxia img{
	width: 100%;
	height: 100%;
}
.zhongxiazi{
	width: 290px;
	height: 69px;
/* 	background: orange; */
	border:1px solid #e8e7ec;
	box-sizing: border-box;
}
.zhongxiazi{
	border-top: 0px;
}
.zhongxiazi span{
	font-size: 13px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;

}
.zhongxiazi .jiage3{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;

}
.you{
	width: 286px;
	height: 440px;
/* 	background: green; */
	float: left;
	
	
}

.you .youshang img{
	width: 100%;
	height: 100%;
}
.youzi{
	width: 286px;
	height: 69px;
/* 	background: orange; */
	border:1px solid #e8e7ec;
	box-sizing: border-box;
	margin-top: -3px;
}
.youzi{
	border-top: 0px;

}

.youzi span{
	font-size: 13px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;
}
.youzi .jiage4{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;
}
.chaozhijingxuanqu{
	width: 1200px;
	height: 126px;
	background: #ffffff;
	margin: 0 auto;
	font-size: 17px;
	text-align: center;
	line-height: 126px;
	color: #9a9a9a;
}
.chaozhi{
	width: 1200px;
	height: 509px;
	background:#ffffff;
	margin: 0 auto;
}
.zuo{
	width: 590px;
	height: 509px;
/* 	background: green; */
	float: left;
	margin-right: 17px;
}
.zuo .tu1{
	display: block;
	width: 590px;
	height: 440px;
}
.zuo .tu1 img{
	width: 100%;
	height:100%; 
}
.zuoxia{
	width: 590px;
	height: 69px;
	background: #ffffff;
	border: 1px solid #e8e7ec;
	float: left;
	box-sizing: border-box;
}
.zuoxia{
	border-top: 0px;
}
.zuoxia span{
	font-size: 13px;
	color: #333333;
	margin-left: 15px;
	text-align: center;
	line-height: 69px;
}
.zuoxia .jiage{
	font-size: 13px;
	color: #b50000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;
}
.zhong{
	width: 290px;
	height: 509px;
	background: #ffffff;
	float: left;
	margin-right: 17px;


}
.zhong .zhongshang{
	display: block;
	width: 290px;
	height: 180px;
/* 	background: red; */
}
.zhong .zhongshang img{
	width: 100%;
	height: 100%;

}
.zhongshangzi{
	width: 290px;
	height: 69px;
	background: #ffffff;
	border:1px solid #e8e7ec;
	box-sizing: border-box;
}
.zhongshangzi{
	border-top: 0px;
}
.zhongshangzi span{
	font-size: 11px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;

}
.zhongshangzi .jiage2{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;

}
.zhong .zhongxia{
	display: block;
	width: 290px;
	height: 191px;
	background: red;

}
.zhong .zhongxia img{
	width: 100%;
	height: 100%;
}
.zhongxiazi{
	width: 290px;
	height: 69px;
	background:#ffffff;
	border:1px solid #e8e7ec;
	box-sizing: border-box;
}
.zhongxiazi{
	border-top: 0px;
}
.zhongxiazi span{
	font-size: 13px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;

}
.zhongxiazi .jiage3{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;

}
.you{
	width: 286px;
	height: 440px;
	background: #ffffff;
	float: left;
	
	
}

.you .youshang img{
	width: 100%;
	height: 100%;
}
.youzi{
	width: 286px;
	height: 69px;
	background: #ffffff;
	border:1px solid #e8e7ec;
	box-sizing: border-box;
	margin-top: -3px;
}
.youzi{
	border-top: 0px;

}

.youzi span{
	font-size: 13px;
	color: #333333;
	margin-left: 13px;
	text-align: center;
	line-height: 69px;
}
.youzi .jiage4{
	font-size: 14px;
	color: #a10000;
	margin-right: 14px;
	text-align: center;
	line-height: 69px;
	float: right;
}
.remensousuoyou{
	width: 418px;
	height: 12px;
	background:#ffffff;
	float: right;

}

.remenzuo .remen{
	width: 54px;
	height: 12px;
	background: white;
	float: left;
}
.zuiyoubian span{
	font-size:11px;
	color: #000000;
	margin-right: 11px;
	text-align: center;
	line-height: 12px;
	float: left;
}
.zuiyoubian{
	width: 353px;
	height: 12px;
	background:#ffffff;
	float:right;
}
.kefu{
	width: 1200px;
	height: 284px;
	background: #fefefe;
	margin: 0 auto;
	overflow: hidden;
	border: 1px;
	margin-top: 48px;
	border: 1px solid #e0e0e1;
	margin-bottom:25px;
}
.fuwuone{
	width: 1112px;
	height: 138px;
	background:#e0e0e1;
	margin-top: 19px;
	margin-left: 40px;

}
.guanyufanke1{
	width: 1118px;
	height: 57px;
	background: #f8f8f8;
	margin-top: 23px;
	margin-left: 40px;
}
.xinshou{
	width: 1118px;
	height: 30px;
/* 	background: red; */
	float: left;
	margin-top: 17px;

}
.xinshou a{
	width: 179px;
	height: 22px;
	display: block;
	border-right: 1px solid #dadadb;
    float: left;
    text-align: center;
    margin-top: 8px;
    color: #323232;
}
.kefuwawa{
	width: 370px;
	height: 138px;
	background: white;
	float: left;
	margin-right: 1px;
	border-right: #e0e0e1;
}
.touxiang1{
	width: 37px;
	height: 40px;
/* 	background: red; */
	margin-top: 16px;
	margin-left: 166px;
}
.zaixiankefu{
	width: 156px;
	height: 32px;
	background: #b81c22;
	margin-top:32px;
	margin-left:107px ;
	line-height: 32px;
	text-align: center;
	
}
.zaixiankefu span{
    color: #fff;

}
.qitiantuikuan{
	width: 370px;
	height: 138px;
	background: #fff;
	float: left;
	margin-right: 1px;
	border-right: #e0e0e1;
	cursor: pointer;
}
.qitian{
	width: 38px;
	height: 38px;
/*     background: red; */
    margin-top: 20px;
    margin-left: 166px;
}
.qitian1{
	width: 79px;
	height: 12px;
/* 	background: red; */
	text-align: center;
	margin-top: 28px;
	float: left;
	margin-left: 145px;
	color: #727171;
}
.qitian2{
	width: 123px;
	height: 12px;
	/* background: red; */
	text-align: center;
	margin-top: 14px;
	margin-left: 123px;
	float: left;
	color: #727171;
}
.erweima{
	width: 370px;
	height: 138px;
	background: white;
	float: left;
}
.erweima1{
	width: 98px;
	height: 98px;
	background: red;
	float: left;
	margin-top: 3px;
	margin-left: 136px;
	display: block;
}
.erweima1 img{
	width: 98px;
	height: 98px;
	display: block;
}
.erweimazi{
	width: 127px;
	height: 13px;
	background: #fff;
	float: left;
	margin-top: 21px;
	margin-left: 132px;
/*     margin: 0 auto; */
    color: #727171;
}
.dibuxian{
	width: 1200px;
	height: 1px;
	background: black;
	margin: 0  auto;
}
.fanhui{
	width: 75px;
	height: 205px;
/* 	background: blue; */
	position:fixed;
	bottom: 50px;
	right: 10px;
	z-index: 9999;
}
.APP{
	width: 75px;
	height: 77px;
/* 	background: red; */
}
.duihua{
	width: 75px;
	height: 71px;
/* 	background: white; */
}
.jinbeian{
	width: 1200px;
	height: 37px;
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 36px;
}
.yipai{
	width: 829px;
	height: 14px;
	margin: 0 auto;
	margin-bottom: 12px;
}
.erpai{
	width: 168px;
	height: 12px;
	margin: 0 auto;

}
.zuihou{
	width: 728px;
	height: 45px;
/* 	background: red; */
	margin: 0 auto;
}
.diyi{
	width: 112px;
	height: 40px;
/* 	background: black; */
	float:left;
	margin-top: 4px;
	margin-right: 21px;
}
.dier{
	width: 156px;
	height: 45px;
/* 	background: white; */
	float: left;
	margin-right: 24px;
}
.disan{
	width: 87px;
	height: 39px;
/* 	background: yellow; */
	float: left;
	margin-top: 4px;
	margin-right: 26px;
}
.disi{
	width: 94px;
	height: 36px;
/* 	background: blue; */
	float: left;
	margin-top:7px;
	margin-right: 26px; 
}
.diwu{
	width: 42px;
	height: 42px;
/* 	background: white; */
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}
.diliu{
	width: 120px;
	height: 39px;
/* 	background: blue; */
	float: left;
	margin-top: 6px;
}